<div class="col-md-12" *ngIf="!isLoadingResources">
    <div class="row">
        <div class="col-md-12">
            <h3>Search</h3>
            <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -15px; " />  
        </div>
    </div>
    <div class="row" >
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Search by Location</label>
                    <select  [disabled]="isLoading" class="form-control input-sm" (change)="getItems()" [(ngModel)]="selectedLocation">
                        <option value="-1" disabled selected> Select Location </option>
                        <option *ngFor="let x of locations" [value]="x.LocationID"> {{x.LocationDescr}} </option>
                    </select>
                </div>
            </div>
            <br />
            <!-- old design -->
            <div hidden>
                <!-- search assoc -->
            <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            <input type="radio" [disabled]=" selectedLocation==-1" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="0"/>&nbsp;Search by Associate(s)
                        </label>
                        <ng-select [disabled]="isLoading" *ngIf="radioSelect==0" [multiple]="true"
                            [active]="yourVariableName"
                            [allowClear]="true"
                            [items]="items"
                            [disabled]="radioSelect!=0 || selectedLocation==-1"
                            (data)="refreshValue($event)"
                            placeholder="No Associate selected">
                        </ng-select>
                    </div>
                </div>
                <br />
                <!-- search skill -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            <input [disabled]="isLoading" type="radio" [disabled]=" selectedLocation==-1" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="1"/>&nbsp;Search by Skillset(s)
                        </label>
                        <ng-select [disabled]="isLoading" *ngIf="radioSelect==1" [multiple]="true"
                            [allowClear]="true"
                            [active]="yourVariableName"
                            [items]="items"
                            [disabled]="radioSelect!=1 || selectedLocation==-1"
                            (data)="refreshValue($event)"
                            placeholder="No Skills selected">
                        </ng-select>
                    </div>
                </div>
                <br />
                <!-- search department -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            <input [disabled]="isLoading" type="radio" [disabled]=" selectedLocation==-1" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="2"/>&nbsp;Search by Department(s)
                        </label>
                        <ng-select [disabled]="isLoading" *ngIf="radioSelect==2" 
                            [multiple]="true"
                            [allowClear]="true"
                            [items]="items"
                            [disabled]="radioSelect!=2 || selectedLocation==-1"
                            [active]="yourVariableName"
                            (data)="refreshValue($event)"
                            placeholder="No Departments selected">
                        </ng-select>
                    </div>
                </div>
                <br />
                <!-- search last time worked on -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">
                            <input [disabled]="isLoading" type="radio" [disabled]=" selectedLocation==-1" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="3"/>&nbsp;Search by Last Time Worked on
                        </label>
                        <ng-select [disabled]="isLoading" *ngIf="radioSelect==3"
                            [multiple]="true"
                            [active]="yourVariableName"
                            [allowClear]="true"
                            [items]="items"
                            [disabled]="radioSelect!=3 || selectedLocation==-1"
                            (data)="refreshValue($event)"
                            placeholder="No Last Time Worked on selected">
                        </ng-select>
                    </div>
                </div>
                <br />
            </div>
            <!-- new design -->
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Search by:</label>
                        <select [disabled]="isLoading" (change)="yourVariableName=[]; getItems();" 
                            [disabled]=" selectedLocation==-1" [(ngModel)]="radioSelect" 
                            class="form-control input-sm">
                            <option value="-1" disabled selected>Select search by</option>
                            <option value="0">Associates</option>
                            <option value="1">Skills</option>
                            <option value="2">Departments</option>
                            <option value="3">Last Time Worked On</option>
                        </select>
                        <br/>
                        <ng-select [disabled]="isLoading"
                            [multiple]="true"
                            [active]="yourVariableName"
                            [allowClear]="true"
                            [items]="items"
                            [disabled]="selectedLocation==-1"
                            (data)="refreshValue($event)"
                            placeholder="No items selected">
                        </ng-select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Last Profile Updated</label>
                </div>
            </div>
            <!-- date from -->
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Date From</label>
                    <br />
                    <!-- <md-input-container>  
                        <input style="background-color:white;" mdInput  [mdDatepicker]="picker1" [(ngModel)]="dateFrom">
                        <button mdSuffix [mdDatepickerToggle]="picker1"></button>
                    </md-input-container>   
                    <md-datepicker #picker1></md-datepicker> -->
                    <input [disabled]="isLoading" matInput [matDatepicker]="picker1" placeholder="Choose a date"  [(ngModel)]="dateFrom" >
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
            </div>
            <br />
            <!-- date to -->
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Date To</label>
                    <br />
                    <!-- <md-input-container> 
                        <input  style="background-color:white;" mdInput  [mdDatepicker]="picker2" [(ngModel)]="dateTo" >
                        <button mdSuffix [mdDatepickerToggle]="picker2" (disabled)="dateFrom==null"> </button>
                    </md-input-container>    
                    <md-datepicker #picker2 (disabled)="dateFrom==null"></md-datepicker> -->

                    <input [disabled]="isLoading" matInput [matDatepicker]="picker2" placeholder="Choose a date"  [(ngModel)]="dateTo" >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <button (click)="getResult()" [disabled]="!isRunReportReady" class="btn btn-primary btn-sm pull-right"><i class="fa fa-send"></i>&nbsp;View Report</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!--report content here-->
            <!--<div class="report-content"></div>-->
            <div class="col-md-12">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" [disabled]="!isPrintReady" (click)="print()" title="Export to Excel"><i class="fa fa-file-excel-o"></i>&nbsp;Export Report</button>
                        <!--<a class="btn btn-primary btn-sm"></a>-->
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />

            <div class="row">
                <div class="pull-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <div>
                <div *ngIf="radioSelect==0 ">
                    <search-associate [associate]="asoc" *ngFor="let asoc of associateRpt | paginate: { itemsPerPage: 1, currentPage: p }"></search-associate>
                </div>
                <div *ngIf="radioSelect==1" >
                    <search-skillset [skillsetRpt]="skills" *ngFor="let skills of skillsetRpt | paginate: { itemsPerPage: 1, currentPage: p }"></search-skillset>
                </div>
                <div *ngIf="radioSelect==2" >
                    <search-department 
                        [departmentRpt]="deps" [locationID]="selectedLocation"
                        [dateFrom]="dateFrom" [dateTo]="dateTo"
                        *ngFor="let deps of departmentRpt | paginate: { itemsPerPage: 1, currentPage: p }"></search-department>
                </div>
                <div *ngIf="radioSelect==3">
                    <label style="color:red">Last time worked on will generates reports longer that is based on the volume of skills</label>
                    <search-lastworkedon [lastTimeWorkedOnRpt]="ltw" *ngFor="let ltw of lastTimeWorkedOnRpt | paginate: { itemsPerPage: 1, currentPage: p }" > </search-lastworkedon>
                </div>
                <div *ngIf="isLoading">
                    <br />
                    <br />
                    <br />
                        <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span>Getting Reports of {{progressFor}}
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="col-md-12">
                        <progressbar [max]="selectedItems.length" type="success" [value]="progress" [striped]="true" [animate]="true">
                            <i>{{progress}}/{{selectedItems.length}}</i>
                        </progressbar>
                    </div>
                </div>
            </div>
            <div id="assocRpt" #assocRpt hidden>
                <div *ngIf="radioSelect==0 ">
                    <search-associate [associate]="asoc" *ngFor="let asoc of associateRpt "></search-associate>
                </div>
                <div *ngIf="radioSelect==1" >
                    <search-skillset [skillsetRpt]="skills" *ngFor="let skills of skillsetRpt"></search-skillset>
                </div>
                <div *ngIf="radioSelect==2" >
                    <search-department 
                        [departmentRpt]="deps" [locationID]="selectedLocation"
                        [dateFrom]="dateFrom" [dateTo]="dateTo"
                        *ngFor="let deps of departmentRpt"></search-department>
                </div>
                <div *ngIf="radioSelect==3">
                    <search-lastworkedon [lastTimeWorkedOnRpt]="ltw" *ngFor="let ltw of lastTimeWorkedOnRpt " > </search-lastworkedon>
                </div>
            </div>
            <iframe id="txtArea1" style="display:none"></iframe>
        </div>
    </div>
</div>
<div class ="col-md-12" *ngIf="isLoadingResources">
    <br />
    <br />
    <br />
    <br />
    <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span>Loading Reports Resources
</div>