<div class="col-md-12">
    <form [formGroup]="skillsetFrm" (ngSubmit)="onSubmit(skillsetFrm.value)">
        <div class="row">
            <div class="col-md-12">
                <h3>Skillset</h3>
                <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -15px; " />
            </div>
        </div>
        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-8">
                            <!--locked field -->
                            <input 
                                    type="text" 
                                    class="form-control" 
                                    [readonly]="true"
                                    [formControl]="skillsetFrm.get('UserName')"
                                    [(ngModel)]="associate.UserName" />
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Current Department</label>
                        <div class="col-md-8">
                            <select 
                                    class="form-control"
                                    [formControl]="skillsetFrm.get('Department')"
                                    [(ngModel)]="associate.DepartmentID">
                                <option 
                                        *ngFor="let dept of departments" 
                                        [ngValue]="dept.DepartmentID"
                                        [selected]="dept === selectedOption" >
                                    {{dept.DepartmentDescr}}
                                </option>
                            </select>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Location</label>
                        <div class="col-md-8">
                            <select 
                                    class="form-control"
                                    [formControl]="skillsetFrm.get('Location')"
                                    [(ngModel)]="associate.LocationID">
                                <option 
                                        *ngFor="let loc of locations" 
                                        [ngValue]="loc.LocationID"
                                        [selected]="loc === selectedOption" >
                                    {{loc.LocationDescr}}
                                </option>
                            </select>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">VPN Capable</label>
                        <div class="col-md-8">
                            <label class="switch">
                                <input 
                                        class="fieldSelection" 
                                        type="checkbox" 
                                        [formControl]="skillsetFrm.get('VPN')"
                                        [(ngModel)]="associate.VPN"/>
                                <div class="slider round"></div>
                            </label>
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Best Phone Number to be Reached</label>
                        <div class="col-md-8">
                            <input 
                                    type="text" 
                                    class="form-control" 
                                    [formControl]="skillsetFrm.get('PhoneNumber')"
                                    [(ngModel)]="associate.PhoneNumber" 
                                    maxlength="20"/>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Last Updated</label>
                        <div class="col-md-8">
                            <!--auto generated [(ngModel)]="associate.UpdatedOn"-->
                            <input 
                                    type="text" 
                                    class="form-control"
                                    [readonly]="true"
                                    [formControl]="skillsetFrm.get('UpdatedOn')"
                                    value="{{associate.UpdatedOn | date: 'dd/MM/yyyy'}}" />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="dep-skillset">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion">
                                            
                            <div 
                                class="panel panel-primary"
                                *ngFor="let dpt of departments">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{dpt.DepartmentID}}">
                                            {{dpt.DepartmentDescr}}
                                        </a>
                                    </h4>
                                </div> <!--panel heading-->
                                <div id="collapse{{dpt.DepartmentID}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!--<div class="row">
                                            <div class="col-md-3"><input id="checkall" type="checkbox" class="css-checkbox med"><label for="checkall" class="css-label med elegant">Check All</label></div>
                                        </div>-->
                                        <br />
                                        <div class="container">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                                Skills
                                                        </th>
                                                        <th>
                                                                30 Days Ago
                                                        </th>
                                                        <th>
                                                                1-6 Months
                                                        </th>
                                                        <th>
                                                                6-12 Months
                                                        </th>
                                                        <th>
                                                                Over 1 Year ago
                                                        </th>
    
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let dptSklDBO of departmentSkillsetDBOs">
                                                    <tr  *ngIf="dptSklDBO.DepartmentID == dpt.DepartmentID">
                                                        <td>
                                                            <input 
                                                            id="{{dptSklDBO.DepartmentSkillsetID}}" 
                                                            (change)="onchange(dptSklDBO,skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]);"
                                                            type="checkbox" 
                                                            class="css-checkbox med"
                                                            [(ngModel)]="skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]" [ngModelOptions]="{standalone: true}" >
                                                            <label for="{{dptSklDBO.DepartmentSkillsetID}}" class="css-label med elegant">{{dptSklDBO.SkillsetDescr}}</label>
                                                        </td>

                                                        <td>
                                                            <input [checked]="dptSklDBO.tempLastWorkedOn==1" (change)="onchange(dptSklDBO,skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]);" type="radio" value="1" id="{{'rdb1'+dptSklDBO.DepartmentSkillsetID}}" name="{{'rdb'+dptSklDBO.DepartmentSkillsetID}}" [disabled]="!skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]"/>
                                                        </td>
                                                        <td>
                                                            <input [checked]="dptSklDBO.tempLastWorkedOn==2" (change)="onchange(dptSklDBO,skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]);" type="radio" value="2" id="{{'rdb2'+dptSklDBO.DepartmentSkillsetID}}" name="{{'rdb'+dptSklDBO.DepartmentSkillsetID}}" [disabled]="!skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]"/>
                                                        </td>
                                                        <td>
                                                            <input [checked]="dptSklDBO.tempLastWorkedOn==3"  (change)="onchange(dptSklDBO,skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]);" type="radio" value="3" id="{{'rdb3'+dptSklDBO.DepartmentSkillsetID}}" name="{{'rdb'+dptSklDBO.DepartmentSkillsetID}}" [disabled]="!skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]"/>
                                                        </td>
                                                        <td>
                                                            <input [checked]="dptSklDBO.tempLastWorkedOn==4" (change)="onchange(dptSklDBO,skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]);" type="radio" value="4" id="{{'rdb4'+dptSklDBO.DepartmentSkillsetID}}" name="{{'rdb'+dptSklDBO.DepartmentSkillsetID}}" [disabled]="!skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]"/>
                                                        </td>
                                                        <input hidden [checked]="dptSklDBO.tempLastWorkedOn==0"  (change)="onchange(dptSklDBO,skillsetCheck['' + dptSklDBO.DepartmentSkillsetID]);" type="radio" value="0" id="{{'rdb0'+dptSklDBO.DepartmentSkillsetID}}" name="{{'rdb'+dptSklDBO.DepartmentSkillsetID}}"/>
                                                         
                                                    </tr>
                                                    <!-- <tr *ngIf="dptSklDBO.DepartmentID == dpt.DepartmentID">
                                                        <alert type="info" *ngIf="selectedSkill==dptSklDBO.DepartmentSkillsetID">
                                                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                                                        </alert>
                                                    </tr> -->
                                                </tbody>
                                                
                                            </table>
                                            <div >
                                                <!-- <div class="col-md-3" *ngIf="dptSklDBO.DepartmentID == dpt.DepartmentID">
                                                    
                                                </div> -->
                                                
                                                <!-- <br *ngIf="dptSklDBO.DepartmentID == dpt.DepartmentID" /> -->
                                            </div>
                                        </div>
                                    </div><!--panelbody-->
                                </div> <!--collapse-->
                            </div><!--panel primary-->

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-fixed-bottom save-navbar">
            <div class="container-fluid">
                <div class="navbar-form navbar-right">
                    <button 
                            type="submit" 
                            class="btn btn-primary btn-sm pull-right"
                            [disabled]="!skillsetFrm.valid" >
                        <i class="fa fa-save"></i>&nbsp;Update 
                    </button>
                </div>
            </div>
        </nav>
        
    </form>
</div>