<div class="tab-content">
    <div id="ski_default" class="tab-pane fade in active">
        <div class="col-md-12">
            <!--tool bar-->
            <div class="row">
                <a href="#" (click)="newDetails()" class="btn btn-primary btn-sm" data-toggle="tab" data-target="#ski_editor"><i class="fa fa-plus"></i>&nbsp;New Record</a>
            </div>
            <br />
            <!--table-->
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <!--<th>Skill Id</th>-->
                                <th>Skill Description</th>
                                <th>Is Active</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ss of skillsets | paginate: { itemsPerPage: 10, currentPage: p }">
                                <!--<td>{{ss.SkillsetID}}</td>-->
                                <td>{{ss.SkillsetDescr}}</td>
                                <td>{{getStatus(ss.IsActive)}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a (click)="editDetails(ss)" class="btn btn-default btn-xs" data-toggle="tab" data-target="#ski_editor" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a (click)="changeStatus(ss)" class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--pagination-->
            <div class="row">
                <div class="pull-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div id="ski_editor" class="tab-pane fade">
        <div class="col-md-12">
            <!--return button-->
            <div class="row">
                <a href="#" id="btnGoBack" (click)="goBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#ski_default"><i class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
            </div>
            <br />
            <!--header-->
            <div class="row">
                <!--for example you are in adding mode, span.add should be displayed while span.edit will be hidden-->
                <h4>
                  <span class="add" *ngIf="viewMode==0"><i class="fa fa-plus"></i>&nbsp;New Record</span>
                  <span class="edit" *ngIf="viewMode==1"><i class="fa fa-edit"></i>&nbsp;Edit Details</span>
                </h4>
            </div>
            <br />
            <!--fields-->
            <!--<div class="row">
                <label class="col-md-2 control-label">Skill Id</label>
                <div class="col-md-4">
                    <input type="text" [(ngModel)]="skillset.SkillsetID" readonly class="form-control input-sm" />
                </div>
            </div>
            <br />-->
            <div class="row">
                <label class="col-md-2 control-label">Skill Description</label>
                <div class="col-md-4">
                    <input id="txt" type="text" maxlength="15" (keyup.enter)="saveSkillset()" [(ngModel)]="skillset.SkillsetDescr" class="form-control input-sm" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-md-2 control-label">Is Active</label>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="skillset.IsActive" />
                        <div class="slider round"></div>
                    </label>
                    <br />
                </div>
            </div>
        </div>
        <div class="save-bar">
          <save-bar [buttonMode]="mode" (triggerParentFunc)="saveSkillset()"></save-bar>
            <!--save bar component here-->
        </div>
    </div>
</div>
