<div class="tab-content">
    <div id="loc_default" class="tab-pane fade in active">
        <div class="col-md-12">
            <!--tool bar-->
            <div class="row">
                <a href="#" (click)="newDetails()" class="btn btn-primary btn-sm" data-toggle="tab" data-target="#loc_editor"><i class="fa fa-plus"></i>&nbsp;New Record</a>
            </div>
            <br />
            <!--table-->
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <!--<th>Location Id</th>-->
                                <th>Location Description</th>
                                <!-- <th>Is Active</th> -->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let loc of locations | paginate: { itemsPerPage: 10, currentPage: p }">
                                <!--<td>{{loc.LocationID}}</td>-->
                                <td>{{loc.LocationDescr}}</td>
                                <!-- <td>{{getStatus(loc.IsActive)}}</td> -->
                                <td>
                                    <div class="btn-group">
                                        <a (click)="editDetails(loc)"  class="btn btn-default btn-xs" data-toggle="tab" data-target="#loc_editor" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a (click)="changeStatus(loc)" class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--pagination-->
            <div class="row">
                <div class="pull-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div id="loc_editor" class="tab-pane fade">
        <div class="col-md-12">
            <!--return button-->
            <div class="row">
                <a href="#" id="btnGoBack" (click)="goBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#loc_default"><i class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
                <a (click)="saveLocation()" class="btn btn-primary btn-sm" ><i class="fa fa-save"></i>&nbsp;Save</a>
            </div>
            <br />
            <!--header-->
            <div class="row">
                <!--for example you are in adding mode, span.add should be displayed while span.edit will be hidden-->
                <h4>
                    <span class="add" *ngIf="mode==0"><i class="fa fa-plus"></i>&nbsp;New Record</span>
                    <span class="edit" *ngIf="mode==1"><i class="fa fa-edit"></i>&nbsp;Edit Details</span>
                </h4>
            </div>
            <br />
            <!--fields-->
            <!--<div class="row">
                <label class="col-md-2 control-label">Location Id</label>
                <div class="col-md-4">
                    <input type="text" [(ngModel)]="location.LocationID" readonly class="form-control input-sm" />
                </div>
            </div>
            <br />-->
            <div class="row">
                <label class="col-md-2 control-label">Location Description</label>
                <div class="col-md-4">
                    <input type="text" maxlength="100" [(ngModel)]="location.LocationDescr" class="form-control input-sm" />
                </div>
            </div>
            <br />
            <!-- <div class="row" *ngIf="mode==1">
                <label class="col-md-2 control-label">Is Active</label>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox"  [(ngModel)]="location.IsActive"/>
                        <div class="slider round"></div>
                    </label>
                    <br />
                </div>
            </div> -->
        </div>
        <!-- <div class="save-bar">
          <save-bar [buttonMode]="mode" (triggerParentFunc)="saveLocation()"> </save-bar>
        </div> -->
    </div>
</div>

<a [hidden]="true" id="locationModalbtn" data-toggle="modal" data-backdrop="static"  href='#locationmodal-id'>Trigger modal</a>
<div class="modal fade" id="locationmodal-id">
    <div class="modal-dialog" style="overflow-y: initial;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{message}}</h4>
            </div>
            
            <div class="modal-footer">
                <button type="button" (click)="btnClose()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
