<div class="tab-content">
    <div id="asc_default" class="tab-pane fade in active">
        <div class="col-md-12">
            <!--tool bar-->
            <div class="row">
                <button [disabled]="loading" href="#" class="btn btn-primary btn-sm" (click)="exportAssociates()" ><i class="fa fa-file-excel-o"></i>&nbsp;Export Associate</button>
            </div>
            <br />
            <!--table-->
            <div class="row">
                <div class="table-responsive">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label class="control-label">Number of Associates : {{associates.length}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Filter Department by:</label>
                        </div>
                        <div class="col-md-4">
                            <select [(ngModel)]="filterDept" (change)="RefreshAssociates()"
                                class="form-control input-sm">
                                <option value="-1" selected>All</option>
                                <option value="0" >Needs to be updated</option>
                                <option *ngFor="let x of getActiveDepartments()" [value]="x.DepartmentID"> {{x.DepartmentDescr}} </option>
                            </select>
                        </div>
                    </div>  
                    <br />
                    <br />
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr >
                                <!--<th>Associate Id</th>-->
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Has VPN</th>
                                <th>Department</th>
                                <th>Location</th>
                                <th class="col-md-1">Updated On</th>
                                <!-- <th>Is Active</th> -->
                                <th class="col-md-1">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="associates.length>0 && loading==false" >
                            <tr *ngFor="let x of associates | paginate: { itemsPerPage: 10, currentPage: p }">
                                <!--<td>{{x.AssociateID}}</td>-->
                                <td>{{getFullName(x.UserID)}}</td>
                                <td>{{x.PhoneNumber}}</td>
                                <td>{{getStatus(x.VPN)}}</td>
                                <td>{{getDepartmentName(x.DepartmentID)}}</td>
                                <td>{{getLocationName(x.LocationID)}}</td>
                                <td class="col-md-1">{{x.UpdatedOn | date: 'MM/dd/yyyy'}}</td>
                                <!-- <td>{{getStatus(x.IsActive)}}</td> -->
                                <td class="col-md-1">
                                    <div class="btn-group">
                                        <a (click)="editDetails(x)" class="btn btn-default btn-xs" data-toggle="tab" data-target="#asc_editor" title="Edit"><i class="fa fa-edit"></i></a>
                                        <a (click)="deleteAssociate(x)" class="btn btn-default btn-xs" title="Delete"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div *ngIf="associates.length==0 && loading==true">
                    Getting Associates
                    <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span>
                </div>
                <div *ngIf="associates.length==0 && loading==false">
                    No Associates Found
                </div>
            </div>
            <!--pagination-->
            <div class="row">
                <div class="pull-right">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div id="asc_editor" class="tab-pane fade">
        <div class="col-md-12">
            <!--return button-->
            <div class="row">
                <a id="btnGoBack" (click)="goBack()" class="btn btn-default btn-sm" data-toggle="tab" data-target="#asc_default"><i class="fa fa-chevron-left"></i>&nbsp;Go Back</a>
                <a (click)="saveAssociate()" class="btn btn-primary btn-sm" ><i class="fa fa-save"></i>&nbsp;Save</a>
            </div>
            <br />
            <!--header-->
            <div class="row">
                <h4>
                    <span class="add" *ngIf="mode==0"><i class="fa fa-plus"></i>&nbsp;New Record</span>
                    <span class="edit" *ngIf="mode==1"><i class="fa fa-edit"></i>&nbsp;Edit Details</span>
                </h4>
            </div>
            <br />
            
            <div class="row" >
                <label class="col-md-2 control-label">Full Name</label>
                <div class="col-md-4" *ngIf="mode==0">
                    <select class="form-control input-sm" [(ngModel)]="associate.UserID" (change)="associate.FullName = getFullName(associate.UserID)">
                        <option value=""  disabled selected> Select Name </option>
                        <option *ngFor="let x of getUnusedUsers()" [value]="x.UserID"> {{getFullName(x.UserID)}} </option>
                    </select>
                </div>
                <div  *ngIf="mode!=0"  class="col-md-4">
                    <input value="{{associate.FullName}}" readonly type="text" class="form-control input-sm" />
                </div>
                <label class="col-md-2 control-label">VPN Capable</label>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" [(ngModel)]="associate.VPN" />
                        <div class="slider round"></div>
                    </label>
                    <br />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-md-2 control-label">Phone Number</label>
                <div class="col-md-4">
                    <input maxlength="20" [(ngModel)]="associate.PhoneNumber" type="text" class="form-control input-sm" />
                </div>
                <label class="col-md-2 control-label">Transfer Date</label>
                <div class="col-md-4">
                    <input value="{{associate.UpdatedOn | date: 'MM/dd/yyyy'}}" readonly type="text" class="form-control input-sm" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-md-2 control-label">Location</label>
                <div class="col-md-4">
                    <select [(ngModel)]="associate.LocationID" class="form-control input-sm">
                        <option value="0"  disabled selected> Select Location </option>
                        <option *ngFor="let x of getActiveLocations()" [value]="x.LocationID"> {{x.LocationDescr}} </option>
                    </select>
                </div>
                <label class="col-md-2 control-label">Start Date</label>
                <div class="col-md-4">
                    <input value="{{associate.UpdatedOn | date: 'MM/dd/yyyy'}}" readonly type="text" class="form-control input-sm" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-md-2 control-label">Department</label>
                <div class="col-md-4">
                    <select [(ngModel)]="associate.DepartmentID" class="form-control input-sm">
                        <option value="0"  disabled selected> Select Department </option>
                        <option *ngFor="let x of getActiveDepartments()" [value]="x.DepartmentID"> {{x.DepartmentDescr}} </option>
                    </select>
                </div>
                <label class="col-md-2 control-label">Updated On</label>
                <div class="col-md-4">
                    <input value="{{associate.UpdatedOn | date: 'MM/dd/yyyy'}}" readonly type="text" class="form-control input-sm" />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<skillset *ngIf="mode==1"  [currentUserName]="getUserName()"></skillset>

<a [hidden]="true" id="assocModalbtn" data-toggle="modal" data-backdrop="static"  href='#assocmodal-id'>Trigger modal</a>
<div class="modal fade" id="assocmodal-id">
    <div class="modal-dialog" style="overflow-y: initial;">
        <div class="modal-content">
            <div class="modal-header" >
                <h4 class="modal-title">{{message}}</h4>
            </div>
            
            <div class="modal-footer">
                <button type="button" (click)="btnClose()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
