USE [SkillsetAPI_MOD]
GO
/****** Object:  Table [dbo].[SS_Associates]    Script Date: 8/29/2018 11:27:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SS_Associates](
	[AssociateID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[LocationID] [int] NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[UpdatedOn] [datetime2](7) NOT NULL,
	[UserID] [nvarchar](25) NULL,
	[VPN] [bit] NOT NULL,
	[TransferDate] [datetime2](7) NULL,
	[StartDate] [datetime2](7) NULL,
 CONSTRAINT [PK_SS_Associates] PRIMARY KEY CLUSTERED 
(
	[AssociateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[SS_Associates] ON 

INSERT [dbo].[SS_Associates] ([AssociateID], [DepartmentID], [FullName], [IsActive], [LocationID], [PhoneNumber], [UpdatedOn], [UserID], [VPN], [TransferDate], [StartDate]) VALUES (3, 5, N'Alisha DiMambro', 1, 3, N'0', CAST(N'2018-08-28 14:49:20.2800000' AS DateTime2), N'2', 0, NULL, NULL)
INSERT [dbo].[SS_Associates] ([AssociateID], [DepartmentID], [FullName], [IsActive], [LocationID], [PhoneNumber], [UpdatedOn], [UserID], [VPN], [TransferDate], [StartDate]) VALUES (4, 5, N'Nicole McGee', 1, 2, N'0', CAST(N'2018-08-28 14:49:20.2800000' AS DateTime2), N'62', 0, NULL, NULL)
INSERT [dbo].[SS_Associates] ([AssociateID], [DepartmentID], [FullName], [IsActive], [LocationID], [PhoneNumber], [UpdatedOn], [UserID], [VPN], [TransferDate], [StartDate]) VALUES (5, 3, N'Nicholas Fanaras', 1, 2, N'0', CAST(N'2018-08-28 14:49:20.2800000' AS DateTime2), N'61', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SS_Associates] OFF
