<div class="tab-content">
    <div id="dep_skill_default" class="tab-pane fade in active">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <label class="control-label col-md-3">Department</label>
                        <div class="col-md-6">
                            <select (change)="getSkillSets(selectedDepartmentID)" class="form-control input-sm" [(ngModel)]="selectedDepartmentID">
                                <option value="-1" disabled selected> Select Department </option>
                                <option *ngFor="let x of departments" [value]="x.DepartmentID"> {{x.DepartmentDescr}} </option>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-1">
                            <button disabled (click)="getSkillSets(selectedDepartmentID)" style="cursor: default;" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="col-md-1">    
                            <button [disabled]="selectedDepartmentID==-1" (click)="exportSkills()" class="btn btn-primary btn-sm">
                                <i class="fa fa-file-excel-o"></i>&nbsp;Export Department Skillset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <th class="col-md-1"><input id="checkall" [(ngModel)]="checkallValue" (change)="checkAllSkills(checkallValue)" type="checkbox" class="css-checkbox med"><label for="checkall" class="css-label med elegant"></label></th>
                                <th class="col-md-11">Skill</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="selectedSkillsets.length>0 && loading==false">
                            <tr *ngFor="let x of selectedSkillsets | paginate: { itemsPerPage: 10, currentPage: p }" >
                                <td><input [id]="x.departmentSkillset.SkillsetID" (change)="isModified=true;" [(ngModel)]="x.IsSelected" type="checkbox" class="css-checkbox med"><label [attr.for]="x.departmentSkillset.SkillsetID" class="css-label med elegant"></label></td>
                                <td>{{x.SkillsetDescr}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="selectedSkillsets.length==0 && loading==true">
                    Getting Associated Skills from {{getDepartmentName(selectedDepartmentID)}}
                    <span class="fa fa-cog fa-spin fa-3x fa-fw col-md-offset-4 col-md-1 "></span>
                </div>
                <div *ngIf="selectedSkillsets.length==0 && selectedDepartmentID!=-1 && loading==false">
                    No Skills found. Please add a skill first on the maintenance.
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="col-md-6 text-center" *ngIf="selectedDepartmentID!=-1 ">
            <div class="row">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
        
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="save-bar" *ngIf="selectedDepartmentID!=-1 ">
    <!--save bar component here-->
    <save-bar [buttonMode]="0" (triggerParentFunc)="saveDepartmentSkillset()" ></save-bar>
</div>
